<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Artigos
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/artigos">Artigo</a></li>
            <li class="active"><a href="/admin/artigos/create">Cadastrar</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">

                <div class="box box-success">
                    {if="$msgError != ''"}
                    <div class="alert alert-danger alert-dismissible" style="margin:10px">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <p>{$msgError}</p>
                    </div>
                    {/if}
                    <div class="box-header with-border">
                        <h3 class="box-title">Novo Artigo</h3>
                    </div>
                    <form role="form" action="/admin/artigos/create" method="post" enctype="multipart/form-data">
                       
                       
                        <div class="box-body">

                            <div class="form-group">
                                <label for="title">Título</label>
                                <input value="{$_SESSION['recoversPost']['title']}" type="text" class="form-control" id="title" name="title" placeholder="Digite o título do artigo">
                            </div>

                            <div class="form-group">
                                <label for="resume">Resumo</label>
                                <input value="{$_SESSION['recoversPost']['resume']}" type="text" class="form-control" id="resume" name="resume" placeholder="Digite o resumo do artigo">
                            </div>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="slug">Categoria</label>

                                <select class="form-control" name="id_articles_categories" id="id_articles_categories">
                                    <option value="">SELECIONE</option>
                                    {loop="$categories"}
                                    <option value="{$value.id}">{$value.category}</option>
                                    {/loop}
                                </select>

                                </div>
                                <div class="form-group col-md-4">
                                    <label for="slug">Slug</label>
                                    <input value="{$_SESSION['recoversPost']['slug']}" type="text" class="form-control" id="slug" name="slug" placeholder="Url amigável">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="keywords">Palavras-chaves</label>
                                    <input value="{$_SESSION['recoversPost']['keywords']}" type="text" class="form-control" id="keywords" name="keywords" placeholder="Palavras relacionadas ao artigo">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="image">Capa</label>
                                <input type="file" id="image" name="image">              
                                <p class="help-block">Adicione uma imagem para seu artigo aqui.</p>
                              </div>

                            <div class="form-group">
                                <label for="description"><b>Descrição/Conteúdo:</b></label>
                                <textarea class="form-control" name="description" id="description" cols="30" rows="5">
                                    {$_SESSION['recoversPost']['description']}
                                </textarea>
                            </div>
                            <div class="form-group">
                                <label for="author">Autor</label>
                                <input type="hidden" id="idperson" name="idperson" value="{$_SESSION['User']['iduser']}">
                                <input value="{$_SESSION['User']['desperson']}" type="text" class="form-control" id="author" name="author" placeholder="Nome do autor do artigo">
                            </div>

                            <div class="checkbox icheck">
                                <label>
                                    <input type="checkbox" name="spotlight" id="spotlight" value=1
                                    {if="$_SESSION['recoversPost']['spotlight'] == 1"} checked {else} {/if}>
                                    <strong>Destacar artigo.</strong>
                                </label>
                            </div>
                            <div class="checkbox icheck">
                                <label>
                                    <input type="checkbox" name="show_author" id="show_author" value=1
                                    {if="$_SESSION['recoversPost']['show_author'] == 1"} checked {else} {/if}>
                                    <strong>Exibir informações do autor.</strong>
                                </label>
                            </div>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->