<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Gerenciador de Contéudo
            <!-- <small>Optional description</small> -->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Principal</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <h4>Total de notícias;</h4>
        <h4>Notícias mais clicadas;</h4>
        <h4>Quantidade de pedidos;</h4>
        <h4>Total de convênios;</h4>
        <h4>Total de planos;</h4>
        <h4>Tentativas de contato através do formulário;</h4>
        <h4>Webmail - contato@sociedadenovomilenium.com.br;</h4>
        <h4>Link: Google Analytics, Neurologic, Gmail, Facebook</h4>
        <!-- Your Page Content Here -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->